img{
    margin-top: 3em;
    width: 80%;
    height: 80%;
    display:block;
    margin:auto;
}
.btn-enviar{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 2em;
    background-color: #b8173a !important;
    color: white;
    border-color: black;
}img{
    margin-top: 3em;
    width: 80%;
    height: 80%;
    display:block;
    margin:auto;
}
.btn-enviar{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 2em;
    background-color: #b8173a !important;
    color: white;
    border-color: black;
}

#link {
  text-decoration: none;
  color: #ffffff;
}
