<nav class="navbar navbar-light" style="background-color: black;">
  <a class="navbar-brand">
    <img class="logo" src="assets/images/fiinlab.png" alt="">
  </a>
  <form class="form-inline">
    <a class="nav-item nav-link font-weight-bold" href="#" routerLink="/login" *ngIf="!isLogin">Login</a>
    <a class="nav-item nav-link font-weight-bold" href="#" routerLink="/register" *ngIf="!isLogin">Registrarse</a>
    <a class="nav-item nav-link font-weight-bold fa fa-sign-out" href="#" *ngIf="isLogin" (click)="onClickLogout()"> Salir</a>
  </form>
 </nav>
