<div class="row">
  <div class="col-md-5 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Confirmar datos:</h1>
        <form>
          <div class="form-group">
            <label for="password"><b>N de teléfono/ N° de cta: </b> 5583604124</label>
          </div>
          <div class="form-group">
            <label for="password"><b>Monto: </b> $ 1,000</label>
          </div>
          <button type="button" class="btn-enviar form-control" href="#" onclick='alert("Pago realizado")' routerLink="/first-page">
            OK
          </button>
          <button type="button" class="btn-enviar form-control" href="#" routerLink="/submit">
              Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
