<div id="margen"></div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center image">
      <img id="logo" src="https://user-images.githubusercontent.com/39578762/49425159-60f00b00-f762-11e8-8afd-619d9ce0e72f.png" alt="logo">
    </div>
    <div class="col-12 d-flex justify-content-around botton">
      <button class="btn btn-lg">Registrarse</button>
      <button type="button" routerLink="/login" class="btn btn-lg">Iniciar sesión</button>
    </div>
  </div>
</div>
