#margen {
  height: 5em;
  width: 100%;
  background-image: linear-gradient(#a23a3a,#ff5c5c);
}

.image {
  margin-top: 3em;
}
.btn {
  background-color: #a23a3a;
  color: #ffffff;
}

.botton {
  margin-top: 5em;
}

@media screen and (max-width:575px) {
  #logo {
    width: 90%;
    height: 100%;
    margin-top: 2em;
  }
  .btn {
    margin-top: 2em;
  }
}
