<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a >Registra tu Meta/Sueño</a>
  </div>
</nav>
<div class="container">
  <form>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Monto a ahorrar:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Monto">
          </div>
        </div>
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Precio:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPrecio" placeholder="Precio">
        </div>
      </div>
      <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Fecha:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputFecha" placeholder="Fecha">
          </div>
        </div>
        <div class="centerbtn">
            <button type="button" class="btn btn-danger btn-lg" onclick='alert("¡FELICIDADES! tu sueño/meta esta en camino...NO te rindas")' routerLink="/dreamStatus">Guardar</button>
        </div>
  </form>
</div>


