<nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a >Elige una Meta / Sueño</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-6">
          <a href="#"  routerLink="/dreamRegister"><img class="rounded mx-auto d-block" src="assets/images/viaje.png" alt=""></a>
        </div>
        <div class="col-6">
          <a href="#"  routerLink="/dreamRegister"><img class="rounded mx-auto d-block" src="assets/images/compras.png" alt=""></a>
        </div>
      </div>
      <div class="row">
          <div class="col-6">
            <a href="#"  routerLink="/dreamRegister"><img  class="rounded mx-auto d-block" src="assets/images/pagos.png" alt=""></a>
          </div>
          <div class="col-6">
            <a href="#"  routerLink="/dreamRegister"><img  class="rounded mx-auto d-block" src="assets/images/titulo.png" alt=""></a>
          </div>
        </div>
</div>
