<div class="container">
  <div class="row margin">
      <div class="col-6 title">
          <p>ESTATUS DE TU SUEÑO/META</p>
      </div>
      <div class="col-6 divIcon">
        <a routerLink="/dream">
            <i class="fas fa-plus-circle"></i>
        </a>
      </div>
  </div>
  <div class="list-group">
    <a class="list-group-item list-group-item-action">PAGAR TITULACIÓN DE $ 6 000 con fecha final          ---------------    12 de Junio 2022</a>
  </div>

  <div class="row">
    <div class=col-12>
      <div class="text">
       Llevas $100 ahorrados de tu cifra establecida. <br>
       Continúa con tu meta....
      </div>
    </div>
  </div>
  <div class="row">
      <div class=col-12 >
        <img class="rounded mx-auto d-block" src="assets/images/cochinito.png">
      </div>
  </div>
</div>









